<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<title><%= title %></title>
		<%= render 'layouts/stylesheets' %>
	</head>
	<body>
		<div class="container" style="width: 100%; max-width: 950px;">
			
			<div class="header">
				<h2>
					<%= appName %> | <%= crumb({:li => "alt", :a => "alt"}) %>
					<!-- <%= if @title then ' | <span class="alt">'+@title+"</span>" end %> -->
				</h2>
				<%= render 'layouts/navigation' %>
				<hr>
			</div>
			
			<div class="content">
				<%= yield %>
			</div>
		</div>
	</body>
	
</html>

